In [9]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pymc3 as pm
import numpy as np
import  pandas as pd

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,log_loss
from sklearn.model_selection import train_test_split
from pandas_ml import ConfusionMatrix as cm
from sklearn.preprocessing import StandardScaler
from sklearn import svm

from sklearn.neighbors.kde import KernelDensity

from IPython.display import display_html

from scipy.stats import norm

import warnings
warnings.filterwarnings('ignore')
import scipy.stats as st
import statsmodels as sm
import matplotlib

from IPython.display import display,clear_output,HTML

In [2]:
#### Source= https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side

def mydisplay(dfs, names=[]):
    html_str = ''
    if names:
        html_str += ('<tr>' + 
                     ''.join(f'<td style="text-align:center">{name}</td>' for name in names) + 
                     '</tr>')
    html_str += ('<tr>' + 
                 ''.join(f'<td style="vertical-align:top"> {df.to_html(index=False)}</td>' 
                         for df in dfs) + 
                 '</tr>')
    html_str = f'<table>{html_str}</table>'
    html_str = html_str.replace('table','table style="display:inline"')
    display_html(html_str, raw=True)

In [3]:
train=pd.read_csv('Feature_Vector_50_50_12_24_random_state_0.csv',index_col='User')
print('Infected/Unifected Users')
display(train.Target.value_counts())
user_Dec=train.index.values

Infected/Unifected Users

1    2910
0    2910
Name: Target, dtype: int64

In [4]:
jan=pd.read_csv('Feature-Set_Jan.csv',index_col='User')
print('Infected/Unifected Users')
display(jan.Target.value_counts())
user_jan=jan.index.values

Infected/Unifected Users

0    51123
1      764
Name: Target, dtype: int64

In [5]:
no=[user for user in user_jan if user not in user_Dec]

o=[user for user in user_jan if user in user_Dec]

jan.drop(o,inplace=True)

print("After eliminating overlapping users:")
print(jan.Target.value_counts())

After eliminating overlapping users:
0    46596
1      532
Name: Target, dtype: int64

#### There are 232 Malicious and 4527 Non-malicious Users in January 2018, who overlap with users in Sept-Dec 2017
#### The number of users after balancing the data in January 2018

In [6]:
x=jan[jan.Target==1]
y=jan[jan.Target==0]
y=y.sample(n=532,random_state=10)
z=x.append(y)
z=z.sample(frac=1,random_state=10)
display(z.Target.value_counts())

1    532
0    532
Name: Target, dtype: int64

### Non-parametric approach

In [7]:
Y_test=z.Target.values

In [8]:
lst=[]
for col in train.columns[:-1]:
    ### Non-Malicious Users
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    non_mal_lst=clf.predict(X_test)
    
    ### Malicious users
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    mal_lst=clf.predict(X_test)
    df=pd.DataFrame({'Non_Mal':non_mal_lst.reshape(1,-1)[0].tolist(),'Mal':mal_lst.reshape(1,-1)[0].tolist(),
              'Ground_Truth':Y_test.reshape(1,-1)[0].tolist()},index=z.index.values)

    df['Non_Mal']=df['Non_Mal'].apply(lambda x:'Non_Malicious' if x==1 else 'Malicious')
    df['Mal']=df['Mal'].apply(lambda x:'Malicious' if x==1 else 'Non_Malicious')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    print('\033[1m' + str(col) + '\033[0m\n')
    mydisplay((pd.crosstab(df.Non_Mal,df.Ground_Truth),pd.crosstab(df.Mal,df.Ground_Truth)),names=['Non-Malicious','Malicious'])
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Non-Malicious,Malicious
Malicious,Non_Malicious
94,23
438,509
Malicious,Non_Malicious
410,106
122,426

-----------------------------------------------------------------------------------------------------
DP

Non-Malicious,Malicious
Malicious,Non_Malicious
56,68
476,464
Malicious,Non_Malicious
241,47
291,485

-----------------------------------------------------------------------------------------------------
NAPP

Non-Malicious,Malicious
Malicious,Non_Malicious
65,33
467,499
Malicious,Non_Malicious
420,142
112,390

-----------------------------------------------------------------------------------------------------
SIP

Non-Malicious,Malicious
Malicious,Non_Malicious
27,1
505,531
Malicious,Non_Malicious
107,12
425,520

-----------------------------------------------------------------------------------------------------
DIP

Non-Malicious,Malicious
Malicious,Non_Malicious
60,15
472,517
Malicious,Non_Malicious
390,95
142,437

-----------------------------------------------------------------------------------------------------
NREC

Non-Malicious,Malicious
Malicious,Non_Malicious
108,28
424,504
Malicious,Non_Malicious
403,110
129,422

-----------------------------------------------------------------------------------------------------
PAR

Non-Malicious,Malicious
Malicious,Non_Malicious
41,76
491,456
Malicious,Non_Malicious
439,298
93,234

-----------------------------------------------------------------------------------------------------
PAS

Non-Malicious,Malicious
Malicious,Non_Malicious
29,72
503,460
Malicious,Non_Malicious
447,310
85,222

-----------------------------------------------------------------------------------------------------
LEN

Non-Malicious,Malicious
Malicious,Non_Malicious
19,55
513,477
Malicious,Non_Malicious
458,344
74,188

-----------------------------------------------------------------------------------------------------
BYS

Non-Malicious,Malicious
Malicious,Non_Malicious
21,67
511,465
Malicious,Non_Malicious
432,312
100,220

-----------------------------------------------------------------------------------------------------
BYR

Non-Malicious,Malicious
Malicious,Non_Malicious
39,74
493,458
Malicious,Non_Malicious
440,289
92,243

-----------------------------------------------------------------------------------------------------
0000

Non-Malicious,Malicious
Malicious,Non_Malicious
103,5
429,527
Malicious,Non_Malicious
426,153
106,379

-----------------------------------------------------------------------------------------------------
0100

Non-Malicious,Malicious
Malicious,Non_Malicious
179,381
353,151
Malicious,Non_Malicious
424,154
108,378

-----------------------------------------------------------------------------------------------------
0200

Non-Malicious,Malicious
Malicious,Non_Malicious
85,4
447,528
Malicious,Non_Malicious
516,532
16,0

-----------------------------------------------------------------------------------------------------
0300

Non-Malicious,Malicious
Malicious,Non_Malicious
178,397
354,135
Malicious,Non_Malicious
415,140
117,392

-----------------------------------------------------------------------------------------------------
0400

Non-Malicious,Malicious
Malicious,Non_Malicious
53,2
479,530
Malicious,Non_Malicious
415,147
117,385

-----------------------------------------------------------------------------------------------------
0500

Non-Malicious,Malicious
Malicious,Non_Malicious
56,3
476,529
Malicious,Non_Malicious
414,154
118,378

-----------------------------------------------------------------------------------------------------
0600

Non-Malicious,Malicious
Malicious,Non_Malicious
148,381
384,151
Malicious,Non_Malicious
416,155
116,377

-----------------------------------------------------------------------------------------------------
0700

Non-Malicious,Malicious
Malicious,Non_Malicious
61,2
471,530
Malicious,Non_Malicious
509,532
23,0

-----------------------------------------------------------------------------------------------------
0800

Non-Malicious,Malicious
Malicious,Non_Malicious
61,2
471,530
Malicious,Non_Malicious
433,263
99,269

-----------------------------------------------------------------------------------------------------
0900

Non-Malicious,Malicious
Malicious,Non_Malicious
59,6
473,526
Malicious,Non_Malicious
422,232
110,300

-----------------------------------------------------------------------------------------------------
1000

Non-Malicious,Malicious
Malicious,Non_Malicious
97,141
435,391
Malicious,Non_Malicious
399,201
133,331

-----------------------------------------------------------------------------------------------------
1100

Non-Malicious,Malicious
Malicious,Non_Malicious
97,123
435,409
Malicious,Non_Malicious
374,152
158,380

-----------------------------------------------------------------------------------------------------
1200

Non-Malicious,Malicious
Malicious,Non_Malicious
75,8
457,524
Malicious,Non_Malicious
362,125
170,407

-----------------------------------------------------------------------------------------------------
1300

Non-Malicious,Malicious
Malicious,Non_Malicious
81,140
451,392
Malicious,Non_Malicious
342,126
190,406

-----------------------------------------------------------------------------------------------------
1400

Non-Malicious,Malicious
Malicious,Non_Malicious
82,136
450,396
Malicious,Non_Malicious
343,132
189,400

-----------------------------------------------------------------------------------------------------
1500

Non-Malicious,Malicious
Malicious,Non_Malicious
83,151
449,381
Malicious,Non_Malicious
347,108
185,424

-----------------------------------------------------------------------------------------------------
1600

Non-Malicious,Malicious
Malicious,Non_Malicious
93,171
439,361
Malicious,Non_Malicious
353,97
179,435

-----------------------------------------------------------------------------------------------------
1700

Non-Malicious,Malicious
Malicious,Non_Malicious
108,8
424,524
Malicious,Non_Malicious
380,118
152,414

-----------------------------------------------------------------------------------------------------
1800

Non-Malicious,Malicious
Malicious,Non_Malicious
126,252
406,280
Malicious,Non_Malicious
395,137
137,395

-----------------------------------------------------------------------------------------------------
1900

Non-Malicious,Malicious
Malicious,Non_Malicious
119,4
413,528
Malicious,Non_Malicious
420,146
112,386

-----------------------------------------------------------------------------------------------------
2000

Non-Malicious,Malicious
Malicious,Non_Malicious
150,298
382,234
Malicious,Non_Malicious
431,157
101,375

-----------------------------------------------------------------------------------------------------
2100

Non-Malicious,Malicious
Malicious,Non_Malicious
157,316
375,216
Malicious,Non_Malicious
422,152
110,380

-----------------------------------------------------------------------------------------------------
2200

Non-Malicious,Malicious
Malicious,Non_Malicious
120,7
412,525
Malicious,Non_Malicious
444,158
88,374

-----------------------------------------------------------------------------------------------------
2300

Non-Malicious,Malicious
Malicious,Non_Malicious
115,6
417,526
Malicious,Non_Malicious
432,152
100,380

-----------------------------------------------------------------------------------------------------

#### Non-Parametric Test w/kernelDensity 

https://jakevdp.github.io/PythonDataScienceHandbook/05.13-kernel-density-estimation.html

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KernelDensity.html#sklearn.neighbors.KernelDensity

In [18]:
for col in train.columns[:-1]:
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z['SP'].values.reshape(-1,1))
    non_mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z['SP'].values.reshape(-1,1))
    mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    df=pd.DataFrame({'Non_Mal':non_mal,'Mal':mal,'Ground_Truth':Y_test.reshape(1,-1)[0]})
    df['Factor']=df['Non_Mal']/df['Mal']
    df['Factor']=df['Factor'].apply(lambda x: 'Non_Mal' if x>1 else 'Mal')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    
    print('\033[1m' + str(col) + '\033[0m\n')
    display(pd.crosstab(df.Ground_Truth,df.Factor))
    print("-----------------------------------------------------------------------------------------------------")
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/KDE/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Factor         Mal  Non_Mal
Ground_Truth
Malicious      294      238
Non_Malicious   30      502

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DP

Factor         Mal
Ground_Truth
Malicious      532
Non_Malicious  532

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NAPP

Factor         Mal  Non_Mal
Ground_Truth
Malicious      530        2
Non_Malicious  399      133

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
SIP

Factor         Mal  Non_Mal
Ground_Truth
Malicious      529        3
Non_Malicious  531        1

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DIP

Factor         Mal  Non_Mal
Ground_Truth
Malicious      471       61
Non_Malicious  170      362

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NREC

Factor         Mal  Non_Mal
Ground_Truth
Malicious      271      261
Non_Malicious   22      510

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAR

Factor         Mal  Non_Mal
Ground_Truth
Malicious       16      516
Non_Malicious    1      531

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAS

Factor         Mal  Non_Mal
Ground_Truth
Malicious       14      518
Non_Malicious    2      530

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
LEN

Factor         Mal  Non_Mal
Ground_Truth
Malicious      130      402
Non_Malicious   11      521

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYS

Factor         Non_Mal
Ground_Truth
Malicious          532
Non_Malicious      532

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYR

Factor         Non_Mal
Ground_Truth
Malicious          532
Non_Malicious      532

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0000

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  355      177

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0100

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  360      172

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0200

Factor         Mal  Non_Mal
Ground_Truth
Malicious      529        3
Non_Malicious  382      150

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0300

Factor         Mal  Non_Mal
Ground_Truth
Malicious      529        3
Non_Malicious  370      162

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0400

Factor         Mal  Non_Mal
Ground_Truth
Malicious      515       17
Non_Malicious  242      290

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0500

Factor         Mal  Non_Mal
Ground_Truth
Malicious      518       14
Non_Malicious  271      261

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0600

Factor         Mal  Non_Mal
Ground_Truth
Malicious      512       20
Non_Malicious  232      300

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0700

Factor         Mal  Non_Mal
Ground_Truth
Malicious      510       22
Non_Malicious  274      258

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0800

Factor         Mal  Non_Mal
Ground_Truth
Malicious      523        9
Non_Malicious  352      180

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0900

Factor         Mal  Non_Mal
Ground_Truth
Malicious      529        3
Non_Malicious  372      160

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1000

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  365      167

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1100

Factor         Mal  Non_Mal
Ground_Truth
Malicious      529        3
Non_Malicious  379      153

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1200

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  357      175

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1300

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  361      171

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1400

Factor         Mal  Non_Mal
Ground_Truth
Malicious      521       11
Non_Malicious  354      178

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1500

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  360      172

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1600

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  355      177

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1700

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  360      172

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1800

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  365      167

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1900

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  361      171

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2000

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  355      177

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2100

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  365      167

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2200

Factor         Mal  Non_Mal
Ground_Truth
Malicious      529        3
Non_Malicious  372      160

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2300

Factor         Mal  Non_Mal
Ground_Truth
Malicious      528        4
Non_Malicious  361      171

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------