In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pymc3 as pm
import numpy as np
import  pandas as pd

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,log_loss
from sklearn.model_selection import train_test_split
from pandas_ml import ConfusionMatrix as cm
from sklearn.preprocessing import StandardScaler
from sklearn import svm

from sklearn.neighbors.kde import KernelDensity

from IPython.display import display_html

from scipy.stats import norm

import warnings
warnings.filterwarnings('ignore')
import scipy.stats as st
import statsmodels as sm
import matplotlib

from IPython.display import display,clear_output,HTML

In [2]:
#### Source= https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side

def mydisplay(dfs, names=[]):
    html_str = ''
    if names:
        html_str += ('<tr>' + 
                     ''.join(f'<td style="text-align:center">{name}</td>' for name in names) + 
                     '</tr>')
    html_str += ('<tr>' + 
                 ''.join(f'<td style="vertical-align:top"> {df.to_html(index=False)}</td>' 
                         for df in dfs) + 
                 '</tr>')
    html_str = f'<table>{html_str}</table>'
    html_str = html_str.replace('table','table style="display:inline"')
    display_html(html_str, raw=True)

# Predictions for January

In [6]:
train=pd.read_csv('Feature_Vector_50_50_12_24_random_state_0.csv',index_col='User')
print('Training Set\nInfected/Unifected Users')
print()
display(train.Target.value_counts())
user_Dec=train.index.values

jan=pd.read_csv('Feature-Set_Jan_Final.csv',index_col='User')
print('\nOriginal Jan data\nInfected/Unifected Users')
display(jan.Target.value_counts())
user_jan=jan.index.values

no=[user for user in user_jan if user not in user_Dec]

o=[user for user in user_jan if user in user_Dec]

jan.drop(o,inplace=True)

print("\nAfter eliminating overlapping users:")
print(jan.Target.value_counts())

# x=jan[jan.Target==1]
# y=jan[jan.Target==0]
# y=y.sample(n=532,random_state=10)
# z=x.append(y)
z=jan.sample(frac=1,random_state=10)
Y_test=z.Target.values

Training Set
Infected/Unifected Users

1    2910
0    2910
Name: Target, dtype: int64

Original Jan data
Infected/Unifected Users

0    6406
1     532
Name: Target, dtype: int64

After eliminating overlapping users:
0    6181
1     532
Name: Target, dtype: int64

## Individual features

### Non-parametric approach

In [8]:
lst=[]
for col in train.columns[:-1]:
    ### Non-Malicious Users
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    non_mal_lst=clf.predict(X_test)
    
    ### Malicious users
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    mal_lst=clf.predict(X_test)
    df=pd.DataFrame({'Non_Mal':non_mal_lst.reshape(1,-1)[0].tolist(),'Mal':mal_lst.reshape(1,-1)[0].tolist(),
              'Ground_Truth':Y_test.reshape(1,-1)[0].tolist()},index=z.index.values)

    df['Non_Mal']=df['Non_Mal'].apply(lambda x:'Non_Malicious' if x==1 else 'Malicious')
    df['Mal']=df['Mal'].apply(lambda x:'Malicious' if x==1 else 'Non_Malicious')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    print('\033[1m' + str(col) + '\033[0m\n')
    mydisplay((pd.crosstab(df.Non_Mal,df.Ground_Truth),pd.crosstab(df.Mal,df.Ground_Truth)),names=['Non-Malicious','Malicious'])
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/OneClassSVM/Jan/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Non-Malicious,Malicious
Malicious,Non_Malicious
94,229
438,5952
Malicious,Non_Malicious
410,2177
122,4004

-----------------------------------------------------------------------------------------------------
DP

Non-Malicious,Malicious
Malicious,Non_Malicious
56,556
476,5625
Malicious,Non_Malicious
241,966
291,5215

-----------------------------------------------------------------------------------------------------
NAPP

Non-Malicious,Malicious
Malicious,Non_Malicious
65,256
467,5925
Malicious,Non_Malicious
420,2720
112,3461

-----------------------------------------------------------------------------------------------------
SIP

Non-Malicious,Malicious
Malicious,Non_Malicious
27,79
505,6102
Malicious,Non_Malicious
107,337
425,5844

-----------------------------------------------------------------------------------------------------
DIP

Non-Malicious,Malicious
Malicious,Non_Malicious
60,156
472,6025
Malicious,Non_Malicious
390,2002
142,4179

-----------------------------------------------------------------------------------------------------
NREC

Non-Malicious,Malicious
Malicious,Non_Malicious
108,279
424,5902
Malicious,Non_Malicious
403,2184
129,3997

-----------------------------------------------------------------------------------------------------
PAR

Non-Malicious,Malicious
Malicious,Non_Malicious
41,695
491,5486
Malicious,Non_Malicious
439,3817
93,2364

-----------------------------------------------------------------------------------------------------
PAS

Non-Malicious,Malicious
Malicious,Non_Malicious
29,623
503,5558
Malicious,Non_Malicious
447,4071
85,2110

-----------------------------------------------------------------------------------------------------
LEN

Non-Malicious,Malicious
Malicious,Non_Malicious
19,527
513,5654
Malicious,Non_Malicious
458,4366
74,1815

-----------------------------------------------------------------------------------------------------
BYS

Non-Malicious,Malicious
Malicious,Non_Malicious
21,554
511,5627
Malicious,Non_Malicious
432,4064
100,2117

-----------------------------------------------------------------------------------------------------
BYR

Non-Malicious,Malicious
Malicious,Non_Malicious
39,662
493,5519
Malicious,Non_Malicious
440,3755
92,2426

-----------------------------------------------------------------------------------------------------
0000

Non-Malicious,Malicious
Malicious,Non_Malicious
103,132
429,6049
Malicious,Non_Malicious
426,2862
106,3319

-----------------------------------------------------------------------------------------------------
0100

Non-Malicious,Malicious
Malicious,Non_Malicious
179,3495
353,2686
Malicious,Non_Malicious
424,2801
108,3380

-----------------------------------------------------------------------------------------------------
0200

Non-Malicious,Malicious
Malicious,Non_Malicious
85,156
447,6025
Malicious,Non_Malicious
516,6156
16,25

-----------------------------------------------------------------------------------------------------
0300

Non-Malicious,Malicious
Malicious,Non_Malicious
178,3605
354,2576
Malicious,Non_Malicious
415,2696
117,3485

-----------------------------------------------------------------------------------------------------
0400

Non-Malicious,Malicious
Malicious,Non_Malicious
53,113
479,6068
Malicious,Non_Malicious
415,2677
117,3504

-----------------------------------------------------------------------------------------------------
0500

Non-Malicious,Malicious
Malicious,Non_Malicious
56,120
476,6061
Malicious,Non_Malicious
414,2675
118,3506

-----------------------------------------------------------------------------------------------------
0600

Non-Malicious,Malicious
Malicious,Non_Malicious
148,3491
384,2690
Malicious,Non_Malicious
416,2769
116,3412

-----------------------------------------------------------------------------------------------------
0700

Non-Malicious,Malicious
Malicious,Non_Malicious
61,110
471,6071
Malicious,Non_Malicious
509,6149
23,32

-----------------------------------------------------------------------------------------------------
0800

Non-Malicious,Malicious
Malicious,Non_Malicious
61,133
471,6048
Malicious,Non_Malicious
433,3777
99,2404

-----------------------------------------------------------------------------------------------------
0900

Non-Malicious,Malicious
Malicious,Non_Malicious
59,128
473,6053
Malicious,Non_Malicious
422,3465
110,2716

-----------------------------------------------------------------------------------------------------
1000

Non-Malicious,Malicious
Malicious,Non_Malicious
97,1231
435,4950
Malicious,Non_Malicious
399,3081
133,3100

-----------------------------------------------------------------------------------------------------
1100

Non-Malicious,Malicious
Malicious,Non_Malicious
97,1086
435,5095
Malicious,Non_Malicious
374,2477
158,3704

-----------------------------------------------------------------------------------------------------
1200

Non-Malicious,Malicious
Malicious,Non_Malicious
75,122
457,6059
Malicious,Non_Malicious
362,2238
170,3943

-----------------------------------------------------------------------------------------------------
1300

Non-Malicious,Malicious
Malicious,Non_Malicious
81,1043
451,5138
Malicious,Non_Malicious
342,2046
190,4135

-----------------------------------------------------------------------------------------------------
1400

Non-Malicious,Malicious
Malicious,Non_Malicious
82,1061
450,5120
Malicious,Non_Malicious
343,2042
189,4139

-----------------------------------------------------------------------------------------------------
1500

Non-Malicious,Malicious
Malicious,Non_Malicious
83,1195
449,4986
Malicious,Non_Malicious
347,2104
185,4077

-----------------------------------------------------------------------------------------------------
1600

Non-Malicious,Malicious
Malicious,Non_Malicious
93,1312
439,4869
Malicious,Non_Malicious
353,1950
179,4231

-----------------------------------------------------------------------------------------------------
1700

Non-Malicious,Malicious
Malicious,Non_Malicious
108,155
424,6026
Malicious,Non_Malicious
380,2127
152,4054

-----------------------------------------------------------------------------------------------------
1800

Non-Malicious,Malicious
Malicious,Non_Malicious
126,1995
406,4186
Malicious,Non_Malicious
395,2441
137,3740

-----------------------------------------------------------------------------------------------------
1900

Non-Malicious,Malicious
Malicious,Non_Malicious
119,129
413,6052
Malicious,Non_Malicious
420,2614
112,3567

-----------------------------------------------------------------------------------------------------
2000

Non-Malicious,Malicious
Malicious,Non_Malicious
150,2598
382,3583
Malicious,Non_Malicious
431,2833
101,3348

-----------------------------------------------------------------------------------------------------
2100

Non-Malicious,Malicious
Malicious,Non_Malicious
157,2896
375,3285
Malicious,Non_Malicious
422,2710
110,3471

-----------------------------------------------------------------------------------------------------
2200

Non-Malicious,Malicious
Malicious,Non_Malicious
120,139
412,6042
Malicious,Non_Malicious
444,2853
88,3328

-----------------------------------------------------------------------------------------------------
2300

Non-Malicious,Malicious
Malicious,Non_Malicious
115,122
417,6059
Malicious,Non_Malicious
432,2840
100,3341

-----------------------------------------------------------------------------------------------------

#### Non-Parametric Test w/kernelDensity 

https://jakevdp.github.io/PythonDataScienceHandbook/05.13-kernel-density-estimation.html

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KernelDensity.html#sklearn.neighbors.KernelDensity

https://sebastianraschka.com/faq/docs/parametric_vs_nonparametric.html

In [9]:
for col in train.columns[:-1]:
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    non_mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    df=pd.DataFrame({'Non_Mal':non_mal,'Mal':mal,'Ground_Truth':Y_test.reshape(1,-1)[0]})
    df['Factor']=df['Non_Mal']/df['Mal']
    df['Factor']=df['Factor'].apply(lambda x: 'Non_Mal' if x>1 else 'Mal')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    
    print('\033[1m' + str(col) + '\033[0m\n')
    display(pd.crosstab(df.Ground_Truth,df.Factor))
    print("-----------------------------------------------------------------------------------------------------")
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/KDE/Jan/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Factor         Mal  Non_Mal
Ground_Truth
Malicious      294      238
Non_Malicious  816     5365

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DP

Factor          Mal
Ground_Truth
Malicious       532
Non_Malicious  6181

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NAPP

Factor         Mal  Non_Mal
Ground_Truth
Malicious      219      313
Non_Malicious  569     5612

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
SIP

Factor          Mal  Non_Mal
Ground_Truth
Malicious       531        1
Non_Malicious  6181        0

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DIP

Factor         Mal  Non_Mal
Ground_Truth
Malicious      316      216
Non_Malicious  886     5295

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NREC

Factor         Mal  Non_Mal
Ground_Truth
Malicious      282      250
Non_Malicious  771     5410

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAR

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0      532
Non_Malicious    9     6172

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAS

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0      532
Non_Malicious    3     6178

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
LEN

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0      532
Non_Malicious    5     6176

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYS

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0      532
Non_Malicious    1     6180

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYR

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0      532
Non_Malicious   12     6169

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0000

Factor         Mal  Non_Mal
Ground_Truth
Malicious      271      261
Non_Malicious  948     5233

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0100

Factor         Mal  Non_Mal
Ground_Truth
Malicious      272      260
Non_Malicious  890     5291

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0200

Factor         Mal  Non_Mal
Ground_Truth
Malicious      274      258
Non_Malicious  927     5254

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0300

Factor         Mal  Non_Mal
Ground_Truth
Malicious      262      270
Non_Malicious  838     5343

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0400

Factor         Mal  Non_Mal
Ground_Truth
Malicious      149      383
Non_Malicious  321     5860

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0500

Factor         Mal  Non_Mal
Ground_Truth
Malicious      168      364
Non_Malicious  430     5751

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0600

Factor         Mal  Non_Mal
Ground_Truth
Malicious      126      406
Non_Malicious  307     5874

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0700

Factor         Mal  Non_Mal
Ground_Truth
Malicious      161      371
Non_Malicious  485     5696

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0800

Factor         Mal  Non_Mal
Ground_Truth
Malicious      239      293
Non_Malicious  939     5242

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0900

Factor          Mal  Non_Mal
Ground_Truth
Malicious       254      278
Non_Malicious  1108     5073

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1000

Factor          Mal  Non_Mal
Ground_Truth
Malicious       255      277
Non_Malicious  1150     5031

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1100

Factor          Mal  Non_Mal
Ground_Truth
Malicious       290      242
Non_Malicious  1306     4875

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1200

Factor          Mal  Non_Mal
Ground_Truth
Malicious       268      264
Non_Malicious  1124     5057

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1300

Factor          Mal  Non_Mal
Ground_Truth
Malicious       264      268
Non_Malicious  1123     5058

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1400

Factor          Mal  Non_Mal
Ground_Truth
Malicious       259      273
Non_Malicious  1090     5091

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1500

Factor          Mal  Non_Mal
Ground_Truth
Malicious       277      255
Non_Malicious  1185     4996

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1600

Factor          Mal  Non_Mal
Ground_Truth
Malicious       285      247
Non_Malicious  1080     5101

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1700

Factor          Mal  Non_Mal
Ground_Truth
Malicious       307      225
Non_Malicious  1177     5004

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1800

Factor          Mal  Non_Mal
Ground_Truth
Malicious       317      215
Non_Malicious  1115     5066

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1900

Factor          Mal  Non_Mal
Ground_Truth
Malicious       325      207
Non_Malicious  1087     5094

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2000

Factor          Mal  Non_Mal
Ground_Truth
Malicious       320      212
Non_Malicious  1038     5143

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2100

Factor         Mal  Non_Mal
Ground_Truth
Malicious      321      211
Non_Malicious  981     5200

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2200

Factor          Mal  Non_Mal
Ground_Truth
Malicious       327      205
Non_Malicious  1153     5028

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2300

Factor          Mal  Non_Mal
Ground_Truth
Malicious       297      235
Non_Malicious  1008     5173

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

In [10]:
col=train.columns[:-1]

## Combined features using OneClassSVM

In [11]:
#### Non-Malicious Users

X_train=train[train.Target==0][col].values
Y_train=train[train.Target==0]['Target'].values
scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
clf.fit(scaled_X)
X_test=scaler.transform(z[col].values)
non_mal_lst=clf.predict(X_test)

#### Malicious Users

X_train=train[train.Target==1][col].values
Y_train=train[train.Target==1]['Target'].values
scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
clf.fit(scaled_X)
X_test=scaler.transform(z[col].values)
mal_lst=clf.predict(X_test)


df=pd.DataFrame({'Non_Mal':non_mal_lst.reshape(1,-1)[0].tolist(),'Mal':mal_lst.reshape(1,-1)[0].tolist(),
              'Ground_Truth':Y_test.reshape(1,-1)[0].tolist()},index=z.index.values)

df['Non_Mal']=df['Non_Mal'].apply(lambda x:'Non_Malicious' if x==1 else 'Malicious')
df['Mal']=df['Mal'].apply(lambda x:'Malicious' if x==1 else 'Non_Malicious')
df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
df.set_index(z.index.values,drop=True,inplace=True)
df.head()

,Non_Mal,Mal,Ground_Truth
741124bc349936f0b0a6f98371cda1ae3a237cfa8c77a90501796ae968b9f1f0,Non_Malicious,Malicious,Non_Malicious
3c9a19258e0b785c33db19461f6796d20b0e672af5631d5695079317629051f2,Non_Malicious,Malicious,Non_Malicious
bb2d29b917d20f2884afc3a4fedd9a1740e313610f02cb41126366bff392ee22,Malicious,Malicious,Non_Malicious
ce9ff3751af4593fba8da405ecc3453020e010fad7e6b87570a424e184aceb6f,Non_Malicious,Malicious,Non_Malicious
5536f91e3ebd4b7c05ac5d559ee3762af73b9ee7e717cc39d8637cdcb9102da7,Non_Malicious,Malicious,Non_Malicious

In [12]:
print('Model built on Non_malicious Users')
display((pd.crosstab(df.Non_Mal,df.Ground_Truth)))
print("-----------------------------------------------------------------------------------------------------\n\n")

print('Model built on Malicious Users')
display((pd.crosstab(df.Mal,df.Ground_Truth)))
print("-----------------------------------------------------------------------------------------------------")

file_name='Non-parametric/OneClassSVM/Jan/Non_para_combined.csv'
df.to_csv(file_name)

Model built on Non_malicious Users

Ground_Truth   Malicious  Non_Malicious
Non_Mal
Malicious            226            600
Non_Malicious        306           5581

-----------------------------------------------------------------------------------------------------


Model built on Malicious Users

Ground_Truth   Malicious  Non_Malicious
Mal
Malicious            414           5081
Non_Malicious        118           1100

-----------------------------------------------------------------------------------------------------

## Combined Features using KDE

In [13]:
col=train.columns[:-1]

In [14]:
#### Non-Malicious Users

X_train=train[train.Target==0][col].values
Y_train=train[train.Target==0]['Target'].values

scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
X_test=scaler.transform(z[col].values)

kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X)

non_mal=np.exp(kde.score_samples(X_test))

#### Malicious Users

X_train=train[train.Target==1][col].values
Y_train=train[train.Target==1]['Target'].values

scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
X_test=scaler.transform(z[col].values)

kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X)

mal=np.exp(kde.score_samples(X_test))

df=pd.DataFrame({'Non_Mal':non_mal,'Mal':mal,'Ground_Truth':Y_test.reshape(1,-1)[0]})
df['Factor']=df['Non_Mal']/df['Mal']
df['Factor']=df['Factor'].apply(lambda x: 'Non_Mal' if x>1 else 'Mal')
df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')

display(pd.crosstab(df.Ground_Truth,df.Factor))
print("-----------------------------------------------------------------------------------------------------")
print("-----------------------------------------------------------------------------------------------------")
file_name='Non-parametric/KDE/Jan/Non_para_combined.csv'

df.set_index(z.index.values,drop=True,inplace=True)

df.to_csv(file_name)

Factor          Mal  Non_Mal
Ground_Truth
Malicious       407      125
Non_Malicious  2771     3410

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

# For February

In [3]:
train=pd.read_csv('Feature_Vector_50_50_12_24_random_state_0.csv',index_col='User')
print('Training Set\nInfected/Unifected Users')
print()
display(train.Target.value_counts())
user_Dec=train.index.values

Feb=pd.read_csv('Feature-Set_Feb_Final.csv',index_col='User')
print('\nOriginal Feb data\nInfected/Unifected Users')
display(Feb.Target.value_counts())
user_Feb=Feb.index.values

no=[user for user in user_Feb if user not in user_Dec]

o=[user for user in user_Feb if user in user_Dec]

Feb.drop(o,inplace=True)

print("\nAfter eliminating overlapping users:")
print(Feb.Target.value_counts())

# x=Feb[Feb.Target==1]
# y=Feb[Feb.Target==0]
# y=y.sample(n=532,random_state=10)
# z=x.append(y)
z=Feb.sample(frac=1,random_state=10)
Y_test=z.Target.values

Training Set
Infected/Unifected Users

1    2910
0    2910
Name: Target, dtype: int64

Original Feb data
Infected/Unifected Users

0    6125
1    1131
Name: Target, dtype: int64

After eliminating overlapping users:
0    5899
1    1131
Name: Target, dtype: int64

## Individual features

### Non-parametric approach

In [4]:
lst=[]
for col in train.columns[:-1]:
    ### Non-Malicious Users
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    non_mal_lst=clf.predict(X_test)
    
    ### Malicious users
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    mal_lst=clf.predict(X_test)
    df=pd.DataFrame({'Non_Mal':non_mal_lst.reshape(1,-1)[0].tolist(),'Mal':mal_lst.reshape(1,-1)[0].tolist(),
              'Ground_Truth':Y_test.reshape(1,-1)[0].tolist()},index=z.index.values)

    df['Non_Mal']=df['Non_Mal'].apply(lambda x:'Non_Malicious' if x==1 else 'Malicious')
    df['Mal']=df['Mal'].apply(lambda x:'Malicious' if x==1 else 'Non_Malicious')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    print('\033[1m' + str(col) + '\033[0m\n')
    mydisplay((pd.crosstab(df.Non_Mal,df.Ground_Truth),pd.crosstab(df.Mal,df.Ground_Truth)),names=['Non-Malicious','Malicious'])
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/OneClassSVM/Feb/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Non-Malicious,Malicious
Malicious,Non_Malicious
140,228
991,5671
Malicious,Non_Malicious
965,2869
166,3030

-----------------------------------------------------------------------------------------------------
DP

Non-Malicious,Malicious
Malicious,Non_Malicious
113,529
1018,5370
Malicious,Non_Malicious
588,1445
543,4454

-----------------------------------------------------------------------------------------------------
NAPP

Non-Malicious,Malicious
Malicious,Non_Malicious
131,295
1000,5604
Malicious,Non_Malicious
976,3211
155,2688

-----------------------------------------------------------------------------------------------------
SIP

Non-Malicious,Malicious
Malicious,Non_Malicious
61,109
1070,5790
Malicious,Non_Malicious
575,1758
556,4141

-----------------------------------------------------------------------------------------------------
DIP

Non-Malicious,Malicious
Malicious,Non_Malicious
105,177
1026,5722
Malicious,Non_Malicious
955,2793
176,3106

-----------------------------------------------------------------------------------------------------
NREC

Non-Malicious,Malicious
Malicious,Non_Malicious
165,278
966,5621
Malicious,Non_Malicious
953,2857
178,3042

-----------------------------------------------------------------------------------------------------
PAR

Non-Malicious,Malicious
Malicious,Non_Malicious
61,527
1070,5372
Malicious,Non_Malicious
963,3990
168,1909

-----------------------------------------------------------------------------------------------------
PAS

Non-Malicious,Malicious
Malicious,Non_Malicious
56,462
1075,5437
Malicious,Non_Malicious
962,4189
169,1710

-----------------------------------------------------------------------------------------------------
LEN

Non-Malicious,Malicious
Malicious,Non_Malicious
40,413
1091,5486
Malicious,Non_Malicious
985,4478
146,1421

-----------------------------------------------------------------------------------------------------
BYS

Non-Malicious,Malicious
Malicious,Non_Malicious
44,445
1087,5454
Malicious,Non_Malicious
950,4134
181,1765

-----------------------------------------------------------------------------------------------------
BYR

Non-Malicious,Malicious
Malicious,Non_Malicious
55,514
1076,5385
Malicious,Non_Malicious
962,3938
169,1961

-----------------------------------------------------------------------------------------------------
0000

Non-Malicious,Malicious
Malicious,Non_Malicious
155,138
976,5761
Malicious,Non_Malicious
936,2860
195,3039

-----------------------------------------------------------------------------------------------------
0100

Non-Malicious,Malicious
Malicious,Non_Malicious
316,3296
815,2603
Malicious,Non_Malicious
938,2757
193,3142

-----------------------------------------------------------------------------------------------------
0200

Non-Malicious,Malicious
Malicious,Non_Malicious
160,220
971,5679
Malicious,Non_Malicious
1108,5873
23,26

-----------------------------------------------------------------------------------------------------
0300

Non-Malicious,Malicious
Malicious,Non_Malicious
335,3461
796,2438
Malicious,Non_Malicious
909,2609
222,3290

-----------------------------------------------------------------------------------------------------
0400

Non-Malicious,Malicious
Malicious,Non_Malicious
101,143
1030,5756
Malicious,Non_Malicious
901,2576
230,3323

-----------------------------------------------------------------------------------------------------
0500

Non-Malicious,Malicious
Malicious,Non_Malicious
100,142
1031,5757
Malicious,Non_Malicious
894,2584
237,3315

-----------------------------------------------------------------------------------------------------
0600

Non-Malicious,Malicious
Malicious,Non_Malicious
292,3297
839,2602
Malicious,Non_Malicious
906,2711
225,3188

-----------------------------------------------------------------------------------------------------
0700

Non-Malicious,Malicious
Malicious,Non_Malicious
93,126
1038,5773
Malicious,Non_Malicious
1099,5860
32,39

-----------------------------------------------------------------------------------------------------
0800

Non-Malicious,Malicious
Malicious,Non_Malicious
104,166
1027,5733
Malicious,Non_Malicious
968,3894
163,2005

-----------------------------------------------------------------------------------------------------
0900

Non-Malicious,Malicious
Malicious,Non_Malicious
100,165
1031,5734
Malicious,Non_Malicious
977,4013
154,1886

-----------------------------------------------------------------------------------------------------
1000

Non-Malicious,Malicious
Malicious,Non_Malicious
155,992
976,4907
Malicious,Non_Malicious
955,3900
176,1999

-----------------------------------------------------------------------------------------------------
1100

Non-Malicious,Malicious
Malicious,Non_Malicious
159,860
972,5039
Malicious,Non_Malicious
941,3459
190,2440

-----------------------------------------------------------------------------------------------------
1200

Non-Malicious,Malicious
Malicious,Non_Malicious
127,153
1004,5746
Malicious,Non_Malicious
916,3356
215,2543

-----------------------------------------------------------------------------------------------------
1300

Non-Malicious,Malicious
Malicious,Non_Malicious
133,811
998,5088
Malicious,Non_Malicious
908,3139
223,2760

-----------------------------------------------------------------------------------------------------
1400

Non-Malicious,Malicious
Malicious,Non_Malicious
157,818
974,5081
Malicious,Non_Malicious
911,3199
220,2700

-----------------------------------------------------------------------------------------------------
1500

Non-Malicious,Malicious
Malicious,Non_Malicious
143,902
988,4997
Malicious,Non_Malicious
925,3155
206,2744

-----------------------------------------------------------------------------------------------------
1600

Non-Malicious,Malicious
Malicious,Non_Malicious
154,992
977,4907
Malicious,Non_Malicious
928,2983
203,2916

-----------------------------------------------------------------------------------------------------
1700

Non-Malicious,Malicious
Malicious,Non_Malicious
185,151
946,5748
Malicious,Non_Malicious
948,2929
183,2970

-----------------------------------------------------------------------------------------------------
1800

Non-Malicious,Malicious
Malicious,Non_Malicious
194,1590
937,4309
Malicious,Non_Malicious
961,3025
170,2874

-----------------------------------------------------------------------------------------------------
1900

Non-Malicious,Malicious
Malicious,Non_Malicious
171,158
960,5741
Malicious,Non_Malicious
966,3008
165,2891

-----------------------------------------------------------------------------------------------------
2000

Non-Malicious,Malicious
Malicious,Non_Malicious
232,2141
899,3758
Malicious,Non_Malicious
971,2991
160,2908

-----------------------------------------------------------------------------------------------------
2100

Non-Malicious,Malicious
Malicious,Non_Malicious
249,2461
882,3438
Malicious,Non_Malicious
950,2891
181,3008

-----------------------------------------------------------------------------------------------------
2200

Non-Malicious,Malicious
Malicious,Non_Malicious
187,151
944,5748
Malicious,Non_Malicious
947,2931
184,2968

-----------------------------------------------------------------------------------------------------
2300

Non-Malicious,Malicious
Malicious,Non_Malicious
168,146
963,5753
Malicious,Non_Malicious
932,2885
199,3014

-----------------------------------------------------------------------------------------------------

#### Non-Parametric Test w/kernelDensity 

https://jakevdp.github.io/PythonDataScienceHandbook/05.13-kernel-density-estimation.html

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KernelDensity.html#sklearn.neighbors.KernelDensity

https://sebastianraschka.com/faq/docs/parametric_vs_nonparametric.html

In [5]:
for col in train.columns[:-1]:
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    non_mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    df=pd.DataFrame({'Non_Mal':non_mal,'Mal':mal,'Ground_Truth':Y_test.reshape(1,-1)[0]})
    df['Factor']=df['Non_Mal']/df['Mal']
    df['Factor']=df['Factor'].apply(lambda x: 'Non_Mal' if x>1 else 'Mal')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    
    print('\033[1m' + str(col) + '\033[0m\n')
    display(pd.crosstab(df.Ground_Truth,df.Factor))
    print("-----------------------------------------------------------------------------------------------------")
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/KDE/Feb/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Factor          Mal  Non_Mal
Ground_Truth
Malicious       767      364
Non_Malicious  1711     4188

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DP

Factor          Mal
Ground_Truth
Malicious      1131
Non_Malicious  5899

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NAPP

Factor          Mal  Non_Mal
Ground_Truth
Malicious       610      521
Non_Malicious  1359     4540

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
SIP

Factor          Mal
Ground_Truth
Malicious      1131
Non_Malicious  5899

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DIP

Factor          Mal  Non_Mal
Ground_Truth
Malicious       800      331
Non_Malicious  1893     4006

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NREC

Factor          Mal  Non_Mal
Ground_Truth
Malicious       711      420
Non_Malicious  1530     4369

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAR

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0     1131
Non_Malicious    3     5896

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAS

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0     1131
Non_Malicious    3     5896

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
LEN

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0     1131
Non_Malicious    5     5894

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYS

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0     1131
Non_Malicious    1     5898

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYR

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0     1131
Non_Malicious    3     5896

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0000

Factor          Mal  Non_Mal
Ground_Truth
Malicious       704      427
Non_Malicious  1585     4314

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0100

Factor          Mal  Non_Mal
Ground_Truth
Malicious       704      427
Non_Malicious  1536     4363

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0200

Factor          Mal  Non_Mal
Ground_Truth
Malicious       672      459
Non_Malicious  1534     4365

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0300

Factor          Mal  Non_Mal
Ground_Truth
Malicious       609      522
Non_Malicious  1319     4580

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0400

Factor         Mal  Non_Mal
Ground_Truth
Malicious      281      850
Non_Malicious  460     5439

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0500

Factor         Mal  Non_Mal
Ground_Truth
Malicious      353      778
Non_Malicious  611     5288

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0600

Factor         Mal  Non_Mal
Ground_Truth
Malicious      257      874
Non_Malicious  440     5459

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0700

Factor         Mal  Non_Mal
Ground_Truth
Malicious      351      780
Non_Malicious  718     5181

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0800

Factor          Mal  Non_Mal
Ground_Truth
Malicious       561      570
Non_Malicious  1551     4348

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0900

Factor          Mal  Non_Mal
Ground_Truth
Malicious       643      488
Non_Malicious  1873     4026

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1000

Factor          Mal  Non_Mal
Ground_Truth
Malicious       678      453
Non_Malicious  1922     3977

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1100

Factor          Mal  Non_Mal
Ground_Truth
Malicious       755      376
Non_Malicious  2208     3691

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1200

Factor          Mal  Non_Mal
Ground_Truth
Malicious       700      431
Non_Malicious  1946     3953

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1300

Factor          Mal  Non_Mal
Ground_Truth
Malicious       689      442
Non_Malicious  1905     3994

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1400

Factor          Mal  Non_Mal
Ground_Truth
Malicious       692      439
Non_Malicious  2009     3890

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1500

Factor          Mal  Non_Mal
Ground_Truth
Malicious       756      375
Non_Malicious  2061     3838

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1600

Factor          Mal  Non_Mal
Ground_Truth
Malicious       766      365
Non_Malicious  1973     3926

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1700

Factor          Mal  Non_Mal
Ground_Truth
Malicious       828      303
Non_Malicious  2017     3882

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1800

Factor          Mal  Non_Mal
Ground_Truth
Malicious       838      293
Non_Malicious  2000     3899

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1900

Factor          Mal  Non_Mal
Ground_Truth
Malicious       828      303
Non_Malicious  1909     3990

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2000

Factor          Mal  Non_Mal
Ground_Truth
Malicious       803      328
Non_Malicious  1822     4077

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2100

Factor          Mal  Non_Mal
Ground_Truth
Malicious       799      332
Non_Malicious  1804     4095

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2200

Factor          Mal  Non_Mal
Ground_Truth
Malicious       825      306
Non_Malicious  1873     4026

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2300

Factor          Mal  Non_Mal
Ground_Truth
Malicious       756      375
Non_Malicious  1692     4207

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

In [6]:
col=train.columns[:-1]

## Combined features using OneClassSVM

In [7]:
#### Non-Malicious Users

X_train=train[train.Target==0][col].values
Y_train=train[train.Target==0]['Target'].values
scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
clf.fit(scaled_X)
X_test=scaler.transform(z[col].values)
non_mal_lst=clf.predict(X_test)

#### Malicious Users

X_train=train[train.Target==1][col].values
Y_train=train[train.Target==1]['Target'].values
scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
clf.fit(scaled_X)
X_test=scaler.transform(z[col].values)
mal_lst=clf.predict(X_test)


df=pd.DataFrame({'Non_Mal':non_mal_lst.reshape(1,-1)[0].tolist(),'Mal':mal_lst.reshape(1,-1)[0].tolist(),
              'Ground_Truth':Y_test.reshape(1,-1)[0].tolist()},index=z.index.values)

df['Non_Mal']=df['Non_Mal'].apply(lambda x:'Non_Malicious' if x==1 else 'Malicious')
df['Mal']=df['Mal'].apply(lambda x:'Malicious' if x==1 else 'Non_Malicious')
df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
df.set_index(z.index.values,drop=True,inplace=True)
df.head()

,Non_Mal,Mal,Ground_Truth
d3a32a43f1ec2fe0d8f3d94aa41ea08f6b76676a984c0c3c8aa64c02613084ec,Non_Malicious,Malicious,Non_Malicious
a42ad28865008e36f8448efe8b29621b7fb81becccbc22cf84b61593f709602f,Non_Malicious,Malicious,Non_Malicious
411edeb48382a082e760415372e2d7e6e9f15d680b444b836b7b062f8cbeca2b,Non_Malicious,Malicious,Non_Malicious
1e4ee3741cc8bbb7f66dbfd9b0d00ef6006ea1144bbc3e6e99800a9eb68001d9,Non_Malicious,Malicious,Malicious
1d9c89bccbd57c90ad801f11ad4f0f8ba008db2230e6236176506e533d590836,Non_Malicious,Non_Malicious,Non_Malicious

In [8]:
print('Model built on Non_malicious Users')
display((pd.crosstab(df.Non_Mal,df.Ground_Truth)))
print("-----------------------------------------------------------------------------------------------------\n\n")

print('Model built on Malicious Users')
display((pd.crosstab(df.Mal,df.Ground_Truth)))
print("-----------------------------------------------------------------------------------------------------")

file_name='Non-parametric/OneClassSVM/Feb/Non_para_combined.csv'
df.to_csv(file_name)

Model built on Non_malicious Users

Ground_Truth   Malicious  Non_Malicious
Non_Mal
Malicious            367            611
Non_Malicious        764           5288

-----------------------------------------------------------------------------------------------------


Model built on Malicious Users

Ground_Truth   Malicious  Non_Malicious
Mal
Malicious            965           5073
Non_Malicious        166            826

-----------------------------------------------------------------------------------------------------

## Combined Features using KDE

In [9]:
col=train.columns[:-1]

In [10]:
#### Non-Malicious Users

X_train=train[train.Target==0][col].values
Y_train=train[train.Target==0]['Target'].values

scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
X_test=scaler.transform(z[col].values)

kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X)

non_mal=np.exp(kde.score_samples(X_test))

#### Malicious Users

X_train=train[train.Target==1][col].values
Y_train=train[train.Target==1]['Target'].values

scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
X_test=scaler.transform(z[col].values)

kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X)

mal=np.exp(kde.score_samples(X_test))

df=pd.DataFrame({'Non_Mal':non_mal,'Mal':mal,'Ground_Truth':Y_test.reshape(1,-1)[0]})
df['Factor']=df['Non_Mal']/df['Mal']
df['Factor']=df['Factor'].apply(lambda x: 'Non_Mal' if x>1 else 'Mal')
df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')

display(pd.crosstab(df.Ground_Truth,df.Factor))
print("-----------------------------------------------------------------------------------------------------")
print("-----------------------------------------------------------------------------------------------------")
file_name='Non-parametric/KDE/Feb/Non_para_combined.csv'

df.set_index(z.index.values,drop=True,inplace=True)

df.to_csv(file_name)

Factor          Mal  Non_Mal
Ground_Truth
Malicious       947      184
Non_Malicious  3312     2587

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

# For March

In [3]:
train=pd.read_csv('Feature_Vector_50_50_12_24_random_state_0.csv',index_col='User')
print('Training Set\nInfected/Unifected Users')
print()
display(train.Target.value_counts())
user_Dec=train.index.values

Mar=pd.read_csv('Feature-Set_Mar.csv',index_col='User')
print('\nOriginal Mar data\nInfected/Unifected Users')
display(Mar.Target.value_counts())
user_Mar=Mar.index.values

no=[user for user in user_Mar if user not in user_Dec]

o=[user for user in user_Mar if user in user_Dec]

Mar.drop(o,inplace=True)


x=Mar[Mar.Target==1]
y=Mar[Mar.Target==0]
y=y.sample(n=4787,random_state=10)
z=x.append(y)
z=z.sample(frac=1,random_state=10)
Y_test=z.Target.values
print("\nAfter eliminating overlapping users:")
print(z.Target.value_counts())

Training Set
Infected/Unifected Users

1    2910
0    2910
Name: Target, dtype: int64

Original Mar data
Infected/Unifected Users

0    54891
1     5931
Name: Target, dtype: int64

After eliminating overlapping users:
1    4787
0    4787
Name: Target, dtype: int64

## Individual features

### Non-parametric approach

In [4]:
lst=[]
for col in train.columns[:-1]:
    ### Non-Malicious Users
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    non_mal_lst=clf.predict(X_test)
    
    ### Malicious users
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
    clf.fit(scaled_X)
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    mal_lst=clf.predict(X_test)
    df=pd.DataFrame({'Non_Mal':non_mal_lst.reshape(1,-1)[0].tolist(),'Mal':mal_lst.reshape(1,-1)[0].tolist(),
              'Ground_Truth':Y_test.reshape(1,-1)[0].tolist()},index=z.index.values)

    df['Non_Mal']=df['Non_Mal'].apply(lambda x:'Non_Malicious' if x==1 else 'Malicious')
    df['Mal']=df['Mal'].apply(lambda x:'Malicious' if x==1 else 'Non_Malicious')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    print('\033[1m' + str(col) + '\033[0m\n')
    mydisplay((pd.crosstab(df.Non_Mal,df.Ground_Truth),pd.crosstab(df.Mal,df.Ground_Truth)),names=['Non-Malicious','Malicious'])
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/OneClassSVM/Mar/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Non-Malicious,Malicious
Malicious,Non_Malicious
507,344
4280,4443
Malicious,Non_Malicious
3661,1722
1126,3065

-----------------------------------------------------------------------------------------------------
DP

Non-Malicious,Malicious
Malicious,Non_Malicious
464,604
4323,4183
Malicious,Non_Malicious
3106,1290
1681,3497

-----------------------------------------------------------------------------------------------------
NAPP

Non-Malicious,Malicious
Malicious,Non_Malicious
679,451
4108,4336
Malicious,Non_Malicious
3893,2023
894,2764

-----------------------------------------------------------------------------------------------------
SIP

Non-Malicious,Malicious
Malicious,Non_Malicious
269,50
4518,4737
Malicious,Non_Malicious
3523,2000
1264,2787

-----------------------------------------------------------------------------------------------------
DIP

Non-Malicious,Malicious
Malicious,Non_Malicious
463,262
4324,4525
Malicious,Non_Malicious
3651,1665
1136,3122

-----------------------------------------------------------------------------------------------------
NREC

Non-Malicious,Malicious
Malicious,Non_Malicious
594,407
4193,4380
Malicious,Non_Malicious
3610,1711
1177,3076

-----------------------------------------------------------------------------------------------------
PAR

Non-Malicious,Malicious
Malicious,Non_Malicious
287,582
4500,4205
Malicious,Non_Malicious
3870,2881
917,1906

-----------------------------------------------------------------------------------------------------
PAS

Non-Malicious,Malicious
Malicious,Non_Malicious
228,560
4559,4227
Malicious,Non_Malicious
3954,3024
833,1763

-----------------------------------------------------------------------------------------------------
LEN

Non-Malicious,Malicious
Malicious,Non_Malicious
173,548
4614,4239
Malicious,Non_Malicious
4100,3332
687,1455

-----------------------------------------------------------------------------------------------------
BYS

Non-Malicious,Malicious
Malicious,Non_Malicious
211,556
4576,4231
Malicious,Non_Malicious
3886,3008
901,1779

-----------------------------------------------------------------------------------------------------
BYR

Non-Malicious,Malicious
Malicious,Non_Malicious
254,551
4533,4236
Malicious,Non_Malicious
3865,2816
922,1971

-----------------------------------------------------------------------------------------------------
0000

Non-Malicious,Malicious
Malicious,Non_Malicious
539,107
4248,4680
Malicious,Non_Malicious
3296,1696
1491,3091

-----------------------------------------------------------------------------------------------------
0100

Non-Malicious,Malicious
Malicious,Non_Malicious
2054,3269
2733,1518
Malicious,Non_Malicious
3224,1625
1563,3162

-----------------------------------------------------------------------------------------------------
0200

Non-Malicious,Malicious
Malicious,Non_Malicious
642,130
4145,4657
Malicious,Non_Malicious
4701,4776
86,11

-----------------------------------------------------------------------------------------------------
0300

Non-Malicious,Malicious
Malicious,Non_Malicious
2213,3463
2574,1324
Malicious,Non_Malicious
3088,1428
1699,3359

-----------------------------------------------------------------------------------------------------
0400

Non-Malicious,Malicious
Malicious,Non_Malicious
437,86
4350,4701
Malicious,Non_Malicious
3047,1409
1740,3378

-----------------------------------------------------------------------------------------------------
0500

Non-Malicious,Malicious
Malicious,Non_Malicious
423,86
4364,4701
Malicious,Non_Malicious
3049,1481
1738,3306

-----------------------------------------------------------------------------------------------------
0600

Non-Malicious,Malicious
Malicious,Non_Malicious
1935,3206
2852,1581
Malicious,Non_Malicious
3131,1662
1656,3125

-----------------------------------------------------------------------------------------------------
0700

Non-Malicious,Malicious
Malicious,Non_Malicious
394,85
4393,4702
Malicious,Non_Malicious
4677,4768
110,19

-----------------------------------------------------------------------------------------------------
0800

Non-Malicious,Malicious
Malicious,Non_Malicious
473,100
4314,4687
Malicious,Non_Malicious
3911,2715
876,2072

-----------------------------------------------------------------------------------------------------
0900

Non-Malicious,Malicious
Malicious,Non_Malicious
505,103
4282,4684
Malicious,Non_Malicious
4085,2821
702,1966

-----------------------------------------------------------------------------------------------------
1000

Non-Malicious,Malicious
Malicious,Non_Malicious
714,1225
4073,3562
Malicious,Non_Malicious
4060,2691
727,2096

-----------------------------------------------------------------------------------------------------
1100

Non-Malicious,Malicious
Malicious,Non_Malicious
655,1111
4132,3676
Malicious,Non_Malicious
3988,2421
799,2366

-----------------------------------------------------------------------------------------------------
1200

Non-Malicious,Malicious
Malicious,Non_Malicious
514,105
4273,4682
Malicious,Non_Malicious
3932,2283
855,2504

-----------------------------------------------------------------------------------------------------
1300

Non-Malicious,Malicious
Malicious,Non_Malicious
649,1108
4138,3679
Malicious,Non_Malicious
3904,2243
883,2544

-----------------------------------------------------------------------------------------------------
1400

Non-Malicious,Malicious
Malicious,Non_Malicious
687,1089
4100,3698
Malicious,Non_Malicious
3866,2165
921,2622

-----------------------------------------------------------------------------------------------------
1500

Non-Malicious,Malicious
Malicious,Non_Malicious
713,1172
4074,3615
Malicious,Non_Malicious
3821,2035
966,2752

-----------------------------------------------------------------------------------------------------
1600

Non-Malicious,Malicious
Malicious,Non_Malicious
698,1298
4089,3489
Malicious,Non_Malicious
3684,1887
1103,2900

-----------------------------------------------------------------------------------------------------
1700

Non-Malicious,Malicious
Malicious,Non_Malicious
602,116
4185,4671
Malicious,Non_Malicious
3564,1827
1223,2960

-----------------------------------------------------------------------------------------------------
1800

Non-Malicious,Malicious
Malicious,Non_Malicious
1010,1671
3777,3116
Malicious,Non_Malicious
3562,1831
1225,2956

-----------------------------------------------------------------------------------------------------
1900

Non-Malicious,Malicious
Malicious,Non_Malicious
577,109
4210,4678
Malicious,Non_Malicious
3492,1828
1295,2959

-----------------------------------------------------------------------------------------------------
2000

Non-Malicious,Malicious
Malicious,Non_Malicious
1324,2201
3463,2586
Malicious,Non_Malicious
3445,1831
1342,2956

-----------------------------------------------------------------------------------------------------
2100

Non-Malicious,Malicious
Malicious,Non_Malicious
1536,2515
3251,2272
Malicious,Non_Malicious
3298,1681
1489,3106

-----------------------------------------------------------------------------------------------------
2200

Non-Malicious,Malicious
Malicious,Non_Malicious
590,104
4197,4683
Malicious,Non_Malicious
3319,1718
1468,3069

-----------------------------------------------------------------------------------------------------
2300

Non-Malicious,Malicious
Malicious,Non_Malicious
541,92
4246,4695
Malicious,Non_Malicious
3275,1701
1512,3086

-----------------------------------------------------------------------------------------------------

#### Non-Parametric Test w/kernelDensity 

https://jakevdp.github.io/PythonDataScienceHandbook/05.13-kernel-density-estimation.html

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KernelDensity.html#sklearn.neighbors.KernelDensity

https://sebastianraschka.com/faq/docs/parametric_vs_nonparametric.html

In [5]:
for col in train.columns[:-1]:
    X_train=train[train.Target==0][col].values
    Y_train=train[train.Target==0]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    non_mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    X_train=train[train.Target==1][col].values
    Y_train=train[train.Target==1]['Target'].values
    scaler=StandardScaler()
    scaled_X=scaler.fit_transform(X_train.reshape(-1,1))
    kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X.reshape(-1,1))
    X_test=scaler.transform(z[col].values.reshape(-1,1))
    mal=np.exp(kde.score_samples(X_test.reshape(-1,1)))
    
    df=pd.DataFrame({'Non_Mal':non_mal,'Mal':mal,'Ground_Truth':Y_test.reshape(1,-1)[0]})
    df['Factor']=df['Non_Mal']/df['Mal']
    df['Factor']=df['Factor'].apply(lambda x: 'Non_Mal' if x>1 else 'Mal')
    df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
    
    print('\033[1m' + str(col) + '\033[0m\n')
    display(pd.crosstab(df.Ground_Truth,df.Factor))
    print("-----------------------------------------------------------------------------------------------------")
    print("-----------------------------------------------------------------------------------------------------")
    file_name='Non-parametric/KDE/Mar/Non_para_col_'+str(col)+'.csv'
    df.to_csv(file_name)

SP

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2942     1845
Non_Malicious   974     3813

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DP

Factor          Mal
Ground_Truth
Malicious      4787
Non_Malicious  4787

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NAPP

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2665     2122
Non_Malicious   793     3994

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
SIP

Factor          Mal  Non_Mal
Ground_Truth
Malicious      4786        1
Non_Malicious  4787        0

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
DIP

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3108     1679
Non_Malicious  1071     3716

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
NREC

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2875     1912
Non_Malicious   913     3874

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAR

Factor         Mal  Non_Mal
Ground_Truth
Malicious        1     4786
Non_Malicious    4     4783

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
PAS

Factor         Mal  Non_Mal
Ground_Truth
Malicious        1     4786
Non_Malicious    4     4783

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
LEN

Factor         Mal  Non_Mal
Ground_Truth
Malicious        2     4785
Non_Malicious    4     4783

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYS

Factor         Mal  Non_Mal
Ground_Truth
Malicious        1     4786
Non_Malicious    2     4785

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
BYR

Factor         Mal  Non_Mal
Ground_Truth
Malicious        0     4787
Non_Malicious    3     4784

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0000

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2481     2306
Non_Malicious   809     3978

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0100

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2431     2356
Non_Malicious   788     3999

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0200

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2418     2369
Non_Malicious   784     4003

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0300

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2282     2505
Non_Malicious   728     4059

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0400

Factor          Mal  Non_Mal
Ground_Truth
Malicious      1174     3613
Non_Malicious   285     4502

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0500

Factor          Mal  Non_Mal
Ground_Truth
Malicious      1447     3340
Non_Malicious   398     4389

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0600

Factor          Mal  Non_Mal
Ground_Truth
Malicious      1082     3705
Non_Malicious   303     4484

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0700

Factor          Mal  Non_Mal
Ground_Truth
Malicious      1559     3228
Non_Malicious   522     4265

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0800

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2600     2187
Non_Malicious  1077     3710

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
0900

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3076     1711
Non_Malicious  1400     3387

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1000

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3148     1639
Non_Malicious  1395     3392

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1100

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3446     1341
Non_Malicious  1566     3221

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1200

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3267     1520
Non_Malicious  1410     3377

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1300

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3304     1483
Non_Malicious  1441     3346

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1400

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3284     1503
Non_Malicious  1382     3405

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1500

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3337     1450
Non_Malicious  1389     3398

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1600

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3229     1558
Non_Malicious  1305     3482

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1700

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3115     1672
Non_Malicious  1211     3576

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1800

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3079     1708
Non_Malicious  1175     3612

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
1900

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2943     1844
Non_Malicious  1093     3694

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2000

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2831     1956
Non_Malicious   971     3816

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2100

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2735     2052
Non_Malicious   950     3837

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2200

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2723     2064
Non_Malicious   963     3824

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
2300

Factor          Mal  Non_Mal
Ground_Truth
Malicious      2593     2194
Non_Malicious   840     3947

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

In [6]:
col=train.columns[:-1]

## Combined features using OneClassSVM

In [7]:
#### Non-Malicious Users

X_train=train[train.Target==0][col].values
Y_train=train[train.Target==0]['Target'].values
scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
clf.fit(scaled_X)
X_test=scaler.transform(z[col].values)
non_mal_lst=clf.predict(X_test)

#### Malicious Users

X_train=train[train.Target==1][col].values
Y_train=train[train.Target==1]['Target'].values
scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)
clf.fit(scaled_X)
X_test=scaler.transform(z[col].values)
mal_lst=clf.predict(X_test)


df=pd.DataFrame({'Non_Mal':non_mal_lst.reshape(1,-1)[0].tolist(),'Mal':mal_lst.reshape(1,-1)[0].tolist(),
              'Ground_Truth':Y_test.reshape(1,-1)[0].tolist()},index=z.index.values)

df['Non_Mal']=df['Non_Mal'].apply(lambda x:'Non_Malicious' if x==1 else 'Malicious')
df['Mal']=df['Mal'].apply(lambda x:'Malicious' if x==1 else 'Non_Malicious')
df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')
df.set_index(z.index.values,drop=True,inplace=True)
df.head()

,Non_Mal,Mal,Ground_Truth
9d7e73653b810f3ffc571bff0d2a406c89b83ddab1b59bb57fb8dde5d162ab54,Non_Malicious,Non_Malicious,Non_Malicious
27e0ad91577b59f33fd3c29e58aa141246f082aefc2948bd0e7a4cbde988c1e2,Non_Malicious,Non_Malicious,Non_Malicious
ff407dccbfa1f1880aa0527075f17c7ac7b43bd15504b6683acbe158f7b9fafa,Non_Malicious,Malicious,Non_Malicious
02139334827d6b4e81bb98a242a3d7566478325c347ca4665a212b5fe8e7be68,Non_Malicious,Malicious,Non_Malicious
9717e2dd85d509b769a7fcc51609929c64fa343d325a7671bb1eb2f328275794,Malicious,Malicious,Malicious

In [8]:
print('Model built on Non_malicious Users')
display((pd.crosstab(df.Non_Mal,df.Ground_Truth)))
print("-----------------------------------------------------------------------------------------------------\n\n")

print('Model built on Malicious Users')
display((pd.crosstab(df.Mal,df.Ground_Truth)))
print("-----------------------------------------------------------------------------------------------------")

file_name='Non-parametric/OneClassSVM/Mar/Non_para_combined.csv'
df.to_csv(file_name)

Model built on Non_malicious Users

Ground_Truth   Malicious  Non_Malicious
Non_Mal
Malicious           1259            390
Non_Malicious       3528           4397

-----------------------------------------------------------------------------------------------------


Model built on Malicious Users

Ground_Truth   Malicious  Non_Malicious
Mal
Malicious           4196           3849
Non_Malicious        591            938

-----------------------------------------------------------------------------------------------------

## Combined Features using KDE

In [9]:
col=train.columns[:-1]

In [10]:
#### Non-Malicious Users

X_train=train[train.Target==0][col].values
Y_train=train[train.Target==0]['Target'].values

scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
X_test=scaler.transform(z[col].values)

kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X)

non_mal=np.exp(kde.score_samples(X_test))

#### Malicious Users

X_train=train[train.Target==1][col].values
Y_train=train[train.Target==1]['Target'].values

scaler=StandardScaler()
scaled_X=scaler.fit_transform(X_train)
X_test=scaler.transform(z[col].values)

kde = KernelDensity(kernel='gaussian', bandwidth=0.2).fit(scaled_X)

mal=np.exp(kde.score_samples(X_test))

df=pd.DataFrame({'Non_Mal':non_mal,'Mal':mal,'Ground_Truth':Y_test.reshape(1,-1)[0]})
df['Factor']=df['Non_Mal']/df['Mal']
df['Factor']=df['Factor'].apply(lambda x: 'Non_Mal' if x>1 else 'Mal')
df['Ground_Truth']=df['Ground_Truth'].apply(lambda x: 'Malicious' if x==1 else 'Non_Malicious')

display(pd.crosstab(df.Ground_Truth,df.Factor))
print("-----------------------------------------------------------------------------------------------------")
print("-----------------------------------------------------------------------------------------------------")
file_name='Non-parametric/KDE/Mar/Non_para_combined.csv'

df.set_index(z.index.values,drop=True,inplace=True)

df.to_csv(file_name)

Factor          Mal  Non_Mal
Ground_Truth
Malicious      3799      988
Non_Malicious  2210     2577

-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

### KDE for all three months

In [58]:
df_Jan=pd.read_csv('Non-parametric/KDE/Jan/Non_para_combined.csv',index_col='Unnamed: 0')
df_Feb=pd.read_csv('Non-parametric/KDE/Feb/Non_para_combined.csv',index_col='Unnamed: 0')
df_Mar=pd.read_csv('Non-parametric/KDE/Mar/Non_para_combined.csv',index_col='Unnamed: 0')

df_Jan.columns=[str(col)+'_Jan' for col in df_Jan.columns]
df_Feb.columns=[str(col)+'_Feb' for col in df_Feb.columns]
df_Mar.columns=[str(col)+'_Mar' for col in df_Mar.columns]

df=df_Mar.merge(df_Feb, how='outer', left_index=True, right_index=True)

df=df.merge(df_Jan, how='outer', left_index=True, right_index=True)

df.sort_values(by='Ground_Truth_Mar',inplace=True)

display(df.head())
df.to_csv('Non-parametric/KDE/Final_KDE.csv',index=True)

,Non_Mal_Mar,Mal_Mar,Ground_Truth_Mar,Factor_Mar,Non_Mal_Feb,Mal_Feb,Ground_Truth_Feb,Factor_Feb,Non_Mal_Jan,Mal_Jan,Ground_Truth_Jan,Factor_Jan
fffcd63f195ef91b9de3aa2586d02a690ffae891c8b82c94ad84181e9550ffa1,1.998163e+06,7.540636e+04,Malicious,Non_Mal,8.644244e+07,2.846665e+06,Non_Malicious,Non_Mal,1.290768e+09,1.278255e+07,Non_Malicious,Non_Mal
6915929f8f9709e8ae61055d2d2d6c1dd77b2513d0b1f4c12309ddd6856748f4,2.861844e-05,7.386665e-04,Malicious,Mal,1.334927e-02,6.928974e+04,Non_Malicious,Mal,1.495205e+02,1.543484e+05,Non_Malicious,Mal
ccf0f322a0a868f989c11b410479ad035615709051ee3ec01274636a912186a3,3.060318e-06,1.976554e+03,Malicious,Mal,2.669185e-02,2.709174e+03,Non_Malicious,Mal,2.165945e+04,2.018594e+05,Non_Malicious,Mal
ccf32affad43675ab67329cff2bb004cf67dcca9ffa8ac6814c08633789a228c,1.407571e-82,5.390344e-13,Malicious,Mal,2.522715e-56,1.151603e-04,Malicious,Mal,1.372291e-36,6.270303e-02,Malicious,Mal
68ffda988d852e5644a4779f11d15d2ac60f1e9232b91ea786752a474b23582e,5.367333e-22,2.147999e+01,Malicious,Mal,1.199522e-14,5.451818e+01,Malicious,Mal,3.560685e-05,1.829723e+02,Non_Malicious,Mal

### OneClassSVM for all three months

In [60]:
df_Jan=pd.read_csv('Non-parametric/OneClassSVM/Jan/Non_para_combined.csv',index_col='Unnamed: 0')
df_Feb=pd.read_csv('Non-parametric/OneClassSVM/Feb/Non_para_combined.csv',index_col='Unnamed: 0')
df_Mar=pd.read_csv('Non-parametric/OneClassSVM/Mar/Non_para_combined.csv',index_col='Unnamed: 0')

df_Jan.columns=[str(col)+'_Jan' for col in df_Jan.columns]
df_Feb.columns=[str(col)+'_Feb' for col in df_Feb.columns]
df_Mar.columns=[str(col)+'_Mar' for col in df_Mar.columns]

df=df_Mar.merge(df_Feb, how='outer', left_index=True, right_index=True)

df=df.merge(df_Jan, how='outer', left_index=True, right_index=True)

df.sort_values(by='Ground_Truth_Mar',inplace=True)

display(df.head())
df.to_csv('Non-parametric/OneClassSVM/Final_OneClassSVM.csv',index=True)

,Non_Mal_Mar,Mal_Mar,Ground_Truth_Mar,Non_Mal_Feb,Mal_Feb,Ground_Truth_Feb,Non_Mal_Jan,Mal_Jan,Ground_Truth_Jan
fffcd63f195ef91b9de3aa2586d02a690ffae891c8b82c94ad84181e9550ffa1,Non_Malicious,Malicious,Malicious,Non_Malicious,Malicious,Non_Malicious,Non_Malicious,Malicious,Non_Malicious
6915929f8f9709e8ae61055d2d2d6c1dd77b2513d0b1f4c12309ddd6856748f4,Non_Malicious,Malicious,Malicious,Non_Malicious,Malicious,Non_Malicious,Non_Malicious,Malicious,Non_Malicious
ccf0f322a0a868f989c11b410479ad035615709051ee3ec01274636a912186a3,Non_Malicious,Malicious,Malicious,Non_Malicious,Malicious,Non_Malicious,Non_Malicious,Malicious,Non_Malicious
ccf32affad43675ab67329cff2bb004cf67dcca9ffa8ac6814c08633789a228c,Malicious,Malicious,Malicious,Malicious,Malicious,Malicious,Malicious,Malicious,Malicious
68ffda988d852e5644a4779f11d15d2ac60f1e9232b91ea786752a474b23582e,Non_Malicious,Malicious,Malicious,Non_Malicious,Malicious,Malicious,Non_Malicious,Malicious,Non_Malicious